*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
}

body{
  background-color: #191919;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  padding: 0 3%;
}

header .container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  width: 100%;
  position: fixed;
  top:0;
  background-color: #191919;
  z-index: 9;
}

#logo{
  width: 15%;
}

.menu{
  width: 65%;
}

#pesquisa{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#pesquisa i{
  align-self: center;
}

.menu-nav ul{
  display: flex;
  align-content: center;   
}

.active-item a{
  font-weight: bold;
  color: #fff;
}

.menu-nav ul li + li{
  margin-left: 1.25rem;
}

.menu-nav li a{
  color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  font-size: 0.9375rem;
  transition: 0.3 ease;
}

.menu-nav li a:hover{
  color: #fff;
}

#highlight{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)100%), url('../images/banner001.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 85px;
}

.info{
  width: 60%;
}

.high-title h2{
  font-size: 2.2rem;
  margin-bottom: 2%;
}

.high-description{
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 1%;
}

.high-title, .high-description{
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.btns i{
  margin-right: 0.4rem;
}

.btns{
  display: flex;
  font-size: 1.08rem;
}

.btn-see, .btn-more{
  cursor: pointer;
  padding: 0.75rem 1.75rem;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 3%;
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: 0.5 ease-in;
}

.btn-more{
  background: linear-gradient(217deg, rgba(82, 84, 84, 0.4),rgba(87,90,90,0.5) 100%);
  color: #fff;
}

.btn-more:hover{
  background: #fff;
  color: #000;
}

.btn-see:hover{
  background: #c3c4c5;
}

#list{
  margin-top: 80px;
}

/*--------- SLICK ---------*/
.slick-next:before{
  content: "\e907";
}

.slick-prev:before{
  content: "\e908";
}

.slick-prev:hover,
.slick-next:hover
{
  background: #303030;
  height: 97%;
  font-size: 16px;
  
}
 
/*--------- MODAL ---------*/
.modal{
  background: #181818;
  max-width: 70%;
  padding: 0; 
  height: 570px;
  font-size: 0.85rem;
  margin-top: 90px;
}

.image-modal{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(24,24,24,1.5)100%), url('../images/banner-detal.png') no-repeat;
  background-size: cover;
  height: 410px;
  border-radius: 10px 10px 0 0;
}

.btn-see-modal{
  cursor: pointer;
  padding: 0.75rem 1.75rem;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 3%;
  color: #000;
  font-weight: bold;
  width: 150px;
}

.btn-see-modal:hover{
  background: #c3c4c5;
}

.btns-modal, .content-modal{
  padding: 2% 3%;
}

.p-white{
  color: #fff;
  font-size: 1rem;
}

/*--------- FOOTER ---------*/
footer{
  margin-top: 8.125rem;
  padding-bottom: 20px;
}

.container-footer{
  padding: 0 30% 0 20%;
  font-size: 0.8125rem;
  color: #808080;
}

.redes-sociais{
  margin-bottom: 1rem;
}

.menu-footer nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.menu-footer a, .redes-sociais a{
  color: #808080;
  transition: 0.2 ease-in;
}

.menu-footer a:hover,.redes-sociais a:hover{
  color: #fff;
}
.menu-footer nav ul li{
  padding: 10px 0;
}

.codigo span{
  border: 1px solid #808080;
  padding: 5px 12px;
}

.codigo p{
  margin-top: 20px;
  font-size: 0.6875rem;
}

/*----------------- MOBILE 768px -----------------*/
@media only screen and (max-width: 920px) {
  body{
    overflow-x: hidden;
  }

  .info{
    width: 80%;
  }

  .menu{
    display: none;
  }

  #highlight{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)100%), url('../images/banner001-mb.png') no-repeat;
    height: 50vh;
    width: 100%;
    background-size: cover;
  }

  .high-title h2{
    font-size: 28px;
  }
  
  .high-description{
    font-size: 16px;
  }

  .btn-see, .btn-more {
    margin-top: 20px;
  }

  /*--------- MODAL ---------*/
  .modal{
    max-width: 85%;
    padding: 0; 
    height: 65vh;
    margin-top: 70px;
  }

  .image-modal{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(24,24,24,1.5)100%), url('./assets/images/banner-detal-mb.png') no-repeat;
    height: 350px;
  }

  .img-car-mob{
    width: 150px;
  }
  /*--------- FIM MODAL ---------*/

  footer {
    margin-top: 2rem;
    padding-bottom: 20px;
  }

  .container-footer {
    padding: 5% 5%;
    font-size: 13px;
    color: #808080;
  }

  .menu-footer nav{
    margin-top: 18px;
  }

  .none-mob{
    display: none
  }
}

/*----------------- MOBILE 480px -----------------*/
@media only screen and (max-width: 480px) {
  #logo img{
    width: 100px;
  }
  
  .btns {
    display: flex;
    flex-direction: column;
    font-size: 1.0625rem;
  }

  .btn-see, .btn-more{
    padding: 0.75rem;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }

  .btn-see{
    width: 85px;
  }

  .btn-more{
    width: 210px;
  }

    /*--------- MODAL ---------*/
    .modal{
      max-width: 85%;
      padding: 0; 
      height: 70vh;
    }
  
    .image-modal{
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(24,24,24,1.5)100%), url('../images/banner-detal-cel.png') no-repeat;
      height: 350px;
    }

    .btns-modal{
      margin-bottom: 30px;
    }
  /*--------- FIM MODAL ---------*/

  .menu-footer nav{
    flex-direction: column;
  }

  .none-mob{
    display: none
  }
}